<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {
		width: 350px;
		border: 1px solid black;
		border-collapse: collapse;
	}
	
	th, td {
		border:  1px solid black;
		padding: 5px;
	}
</style>
</head>
<body>
	<h1>BeforePrice Html Page</h1>
	<div th:unless="${buy_logs}">
		<h1>없습니다.</h1>
	</div>
	<div th:if="${buy_logs}">
		<table>
			<tr>
				<th>가격</th>
				<th>시간</th>
			</tr>
			<tr th:each="buy_log : ${buy_logs}">
				<td th:text="${buy_log.update_price}"></td>
				<td th:text="${buy_log.update_time}"></td>
			</tr>
		</table>
	</div>
</body>
</html>