<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/product.css">
</head>
<body>
	<h1>This is Product Introduce Page</h1>
	<div class="main-contents">
		<div class="product-img">
			<div class="real-img">
				<img src="https://img.danawa.com/prod_img/500000/687/791/img/18791687_3.jpg?shrink=500:*&_v=20230705111010" alt="갤럭시S23">			
			</div>
		</div>
		<div class="auction">
			<div class="auction-function">
				<div>제품 이름</div>
				<div>판매자</div>
				<div>시작 시간</div>
				<div>시작 가격</div>
				<div>종료 시간</div>
				<div>현재 가격</div>
				<div class="before-price">
					<span id="price">이전 가격</span>
					<button id="more">더보기</button>
					
					<script>
					    // 버튼 요소를 가져오기
					    var popupButton = document.getElementById('more');
					
					    // 버튼 클릭 이벤트에 대한 리스너 추가
					    popupButton.addEventListener('click', function() {
					        // 팝업 창의 너비와 높이 설정
					        var popupWidth = 400;
					        var popupHeight = 400;

					        // 화면 중앙 위치 계산
					        var left = (window.innerWidth - popupWidth) / 2;
					        var top = (window.innerHeight - popupHeight) / 2;

					        // 팝업 창을 열기
					        window.open('beforeprice', '팝업 창 제목', 'width=' + popupWidth + ',height=' + popupHeight + ',left=' + left + ',top=' + top);
					    });
					</script>
							
				</div>
				<div class="bidding">
					<form action="product" method="post" th:object="${buy_log}">
						<input type="number" th:field="*{update_price}">
						<input type="submit">
					</form>
				</div>
			</div>
		</div>
		<div class="product-info">제품 소개</div>
	</div>

</body>
</html>