.main-contents {
	width: 1000px;
	height: 1200px;
	background-color: #ffffc6;
	margin: 0 auto;
	text-align: center;
}

.product-img {
	float: left;
	width: 500px;
	height: 600px;
	background-color: #ffffff;
}

.real-img {
	text-align: center
}

.real-img img {
	width: 460px;
}

.auction {
	float: right;
	width: 500px;
	height: 600px;
	background-color: #ffffff;
}

.auction-function {
	margin: 30px auto;
}

.auction-function div {
	margin: 15px auto;
	height: 50px;
	border: 2px solid #000000;
}