<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auction.rerpository.IndexRepository">
	<select id="ListProduct" resultType="com.example.auction.model.product.Product">
		select * from product desc
	</select>
  
</mapper>